.header {
  &-container {
    padding-top: 27px;
  }
  &-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &-list {
    margin: 0;
    padding: 0;
    margin-bottom: 78px;
    list-style-type: none;
    display: flex;
    gap: 30px;
    align-items: center;
  }
  &_link {
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-align: right;
    color: #21243d;
  }
  &_link:hover {
    color: #ff6464;
  }
  &_active__link {
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-align: right;
    color: #ff6464;
  }
}
