.header {
  &__list {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 15px;
    margin-top: 27px;
    margin-bottom: 90px;
  }

  &__list-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-align: right;
    color: #21243d;
    transition: all 0.3s ease;
  }

  &__list-link:hover {
    color: #ff6464;
    scale: 1.3;
    transition: all 0.3s ease;
  }

  &__list--active {
    color: #ff6464;
  }

  &__menu {
    margin-left: 100%;
    width: 50px;
    height: 50px;
    background-color: transparent;
    background-image: url(../IMG/menu-btn.svg);
    background-repeat: no-repeat;
    background-position: center right;
    border: none;
    display: none;
  }
}

@media only screen and (max-width: 375px) {
  .header {
    width: 100%;
    height: 50px;

    &__navigation {
      display: none;
    }

    &__menu {
      display: block;
      margin-left: auto;
    }
  }
}
