.intro {
  margin-left: 235px;

  &_title {
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    width: 506px;
    font-weight: 700;
    font-size: 34px;
    line-height: 50px;
    color: #21243d;
  }

  &-list {
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 17px;
  }

  &_item__one {
    width: 62px;
    padding: 5px 10px;
    font-weight: 900;
    font-size: 18px;
    line-height: 20px;
    color: #ffffff;
    background-color: #ff7c7c;
    border-radius: 16px;
    transition: all 0.3s ease;
  }

  &_item__one:hover {
    color: rgb(156, 221, 4);
    background: #0e9170;
    transition: all 0.3s ease;
  }

  &_item__two {
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #21243d;
    transition: all 0.3s ease;
  }

  &_item__two:hover {
    color: #515a63;
    transition: all 0.3s ease;
  }

  &_text {
    margin: 0;
    padding: 0;
    width: 681px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 46px;
  }

  &_img {
    margin-bottom: 46px;
  }
}
